=== RUN   TestLoginSuccess
--- PASS: TestLoginSuccess (0.00s)
=== RUN   TestLoginEchec
--- PASS: TestLoginEchec (0.00s)
=== RUN   TestExpirationSession
--- PASS: TestExpirationSession (0.00s)
PASS
ok  	github.com/gerivdb/email-sender-1/tests/authentification	1.822s
