go 1.23.9

toolchain go1.24.4

use (
	./development/managers/contextual-memory-manager
	./development/managers/email-manager
	./development/managers/error-manager
	./development/managers/error-manager/auto_fix
	./development/managers/interfaces
	./development/managers/powershell-bridge
	./development/managers/script-manager
	./development/managers/tools
)
