=== RUN   TestSQLInjection
    sql_injection_test.go:13: Injection SQL non bloquée
--- FAIL: TestSQLInjection (0.00s)
FAIL
FAIL	github.com/gerivdb/email-sender-1/tests/security	1.144s
FAIL
