# Fichiers et répertoires à ignorer lors de la construction de l'image Docker

# Dépendances
node_modules
npm-debug.log

# Fichiers de logs
logs
*.log

# Fichiers de configuration locaux
.env
.env.local
.env.*.local

# Fichiers de développement
.git
.gitignore
.vscode
.idea
*.md
!README.md

# Fichiers de test
tests
coverage
jest.config.js

# Autres fichiers
.DS_Store
Thumbs.db
